.pheadline{
    position:relative;
    left:450px;
    top:200px;
    color:#000;
}
.imageabout{
    width:100%;
    height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}