.pheadline{
    position:relative;
    left:450px;
    top:200px;
    color:#fff;
    font-weight:700px;
    font-family:'Times New Roman', Times, serif;
}
.imageabout{
    width:100%;
    height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}