* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-family-primary;
    font-weight: $font-weight-primary;
    color: $color-primary;
}

h1 {
    font-weight: $font-weight-title;
}

a {
    color: $color-primary;
    text-decoration: none;
}

a:hover {
    color: $color-primary-hover;
}
.pheadline {
    position: relative;
    left: 450px;
    top: 200px;
    color: #fff;
    font-weight: 700px;
    font-family: "Times New Roman", Times, serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.imageabout {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
select,
textarea,
button {
    &:focus {
        outline: none;
    }
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    
    &.col-1 {
        width: calc((100% - 8px) / 12);
    }

    &.col-2 {
        width: calc((100% - 8px) / 12 * 2);
    }

    &.col-3 {
        width: calc((100% - 10px) / 12 * 3);
    }

    &.col-4 {
        width: calc((100% - 8px) / 12 * 4);
    }

    &.col-5 {
        width: calc((100% - 4px) / 12 * 5);
    }

    &.col-6 {
        width: calc((100% - 4px) / 12 * 6);
    }

    &.col-7 {
        width: calc((100% - 6px) / 12 * 7);
    }

    &.col-8 {
        width: calc((100% - 4px) / 12 * 8);
    }

    &.col-9 {
        width: calc((100% - 4px) / 12 * 9);
    }

    &.col-10 {
        width: calc((100% - 4px) / 12 * 10);
    }

    &.col-12 {
        width: 100%;
    }
}

button {
    cursor: pointer;
}
// disable button
.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    a.btn {
        pointer-events: none;
        text-decoration: none;
    }
}

.btn {
    font-size: 18px;
    padding: 20px;
    text-align: center;
    @include transition();

    &.btn_black {
        color: #fff;
        background-color: $color-primary;
        &:hover {
            color: #fff;
            background-color: $color-primary-hover;
        }
    }

    &.btn_white {
        background-color: #fff;
        color: $color-primary;
        border: 1px solid $color-primary;
        &:hover {
            background-color: $color-primary;
            color: #fff;
        }
    }

    &.btn_white_border {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        &:hover {
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
        }
    }

    &.btn_white_no_border {
        background-color: #fff;
        color: $color-primary;
        border-bottom: 1px solid #fff;
        &:hover {
            border-bottom: 1px solid $color-primary;
        }
    }
}

.container {
    margin-bottom: 60px;
}

/* =============== General =============== */
.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon {
    display: inline-block;
    vertical-align: top;
    padding: 24px 5px;
    a {
        display: block;
        padding: 10px;
    }

    &.cart {
        a {
            position: relative;
            span.count {
                position: absolute;
                top: 0;
                left: 60%;
                transform: translateX(-60%);
                -webkit-transform: translateX(-60%);
                color: $color-primary;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}

/* =============== Navbar =============== */
.nav_bar {
    padding: 40px 0;

    .wrapper > div,
    .wrapper > nav {
        display: inline-block;
        vertical-align: top;
    }

    .wrapper {
        position: relative;
        nav,
        .utils {
            margin-left: 40px;
        }

        nav {
            width: calc(100% - 100px - 190px - 90px);

            ul li {
                display: inline-block;
                padding: 20px 30px;

                a {
                    padding: 20px;
                    display: block;
                    font-size: 18px;
                }
            }
        }

        .nav_dropdown {
            background-color: #fff;
            padding: 20px 40px;
            position: absolute;
            top: 80px;
            left: 380px;
            z-index: 9;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
            display: none;

            .nav_content {
                display: flex;
                flex-direction: row;
                .nav_dropdown_title {
                    font-size: 18px;
                    font-weight: 400;
                }

                .nav_item {
                    margin-right: 40px;
                    padding: 0 10px;
                    max-width: 160px;
                    min-width: 100px;

                    ul {
                        margin-top: 10px;
                        li {
                            padding: 10px;
                        }
                    }
                }
            }
        }

        nav ul li a:hover {
            + .nav_dropdown {
                visibility: visible;
                opacity: 1;
                z-index: 999;
            }
        }
    }

    .logo {
        width: 100px;
    }

    .utils {
        width: 190px;

        .icon {
            position: relative;
            .profile_dropdown {
                display: none;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.3);
                padding: 30px;
                position: absolute;
                left: calc(-250px / 2 + (50px / 2));
                min-width: 250px;
                z-index: 9999;
                li {
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/* =============== Breadcrumb =============== */
.breadcrumb {
    padding: 40px 0;

    span {
        margin-right: 15px;
    }
}

/* =============== Sidebar =============== */
aside {
    display: inline-block;
    vertical-align: top;
    width: $sidebar-width;
    margin-right: $sidebar-margin;
    form {
        margin-bottom: 40px;

        > div {
            padding: 5px 0;
        }

        label,
        input {
            cursor: pointer;
        }
    }
}

/* =============== Footer =============== */
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 35px 0;

    .footer_menu {
        ul li {
            display: inline-block;
            vertical-align: top;

            a {
                display: block;
                padding: 30px 20px;
            }
        }
    }
}

/* =============== Form page =============== */
.form {
    h1 {
        text-align: center;
        margin-bottom: 60px;
    }
    a {
        text-decoration: underline;
    }
    form {
        p {
            margin-bottom: 20px;

            &.terms {
                text-align: center;
            }

            &.required {
                position: relative;
                &:after {
                    content: "*";
                    position: absolute;
                    display: inline-block;
                    right: 0;
                    top: 0;
                    color: $color-important;
                }
            }
        }

        input:not([type="checkbox"]) {
            line-height: 2.2em;
            padding: 10px;
            font-size: 16px;
            width: 100%;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $color-light;
        }

        span {
            &.error {
                color: $color-error;
                display: block;
                margin-left: 10px;
                line-height: 1.5em;
            }
        }
        .highlight {
            color: $color-important;
            text-align: left;
        }

        button {
            min-width: 250px;
            margin: 40px auto 0;
            display: block;
        }
    }
}
