/* =============== Product Details page =============== */
$details-left-width: 400px;
$details-left-margin: 40px;

.details_page {
    .content {
        padding: 0 60px;
    }

    h1 {
        font-size: 28px;
    }

    .price {
        font-size: 20px;
    }

    .left,
    .right {
        display: inline-block;
        vertical-align: top;
    }

    .left {
        width: $details-left-width;
        margin-right: $details-left-margin;
        .product_image {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .right {
        width: calc(100% - $details-left-width - $details-left-margin - 5px);

        .product_desc {
            > div {
                margin-bottom: 20px;
            }
            select {
                padding: 20px 15px;
                color: $color-primary;
                font-size: 16px;
                border-radius: 0;
                min-width: 300px;
            }
            a {
                display: inline-block;
                min-width: 300px;
                text-align: center;
            }

            .availability {
                vertical-align: middle;
                span {
                    line-height: 1.2em;
                }
            }
        }
    }
}
.product-images-nav {
    img {
        cursor: pointer;
    }
    .slick-track {
        // width: 100% !important;
        // max-width: 100% !important;
    }
    .slick-prev:before,
    .slick-next:before {
        color: #707070 !important;
    }
}

.slick-center > div {
    transform: scale(1);
}

.slick-slide > div {
    transform: scale(0.85);
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

// Advertisements

.ads.ads-top{
    width: 100%;

    a{
        display: block;
        width: 100%;

        img{
            display: block;
            width: 100%;
            height: 60px;
            object-fit: cover;
        }
    }
}